button,
div,
form,input {

	margin: 10px;

}

body{


	font-family: Arial, Verdana, sans-serif;
	background-color: #EFE2BA;
	text-transform: uppercase;
	letter-spacing: 1px;

}

h1{

	background-color: #4056A1;
	padding: 10px;
	margin-right: 45%;

}

#buttons-view{

	background-color: #C5CBE3;
	padding: 10px;

}

button{

	color: #F13C20;
	background: none;
	cursor: pointer;
	padding: 10px 25px;
	outline: none;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: initial;
	transition-delay: initial;

}

button:hover {

    color: #D79922; /* Green */
    background-color: #4056A1;

}

#add-gif{

	color: #F13C20;
	background: none;
	cursor: pointer;
	padding: 10px 25px;
	outline: none;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: initial;
	transition-delay: initial;
}

#add-gif:hover {

    background-color: #4056A1; /* Green */
    color: #D79922;
}




.gif{

	float: left;
	border-style: solid black 5px;
	margin: 5px;
	padding: 5px;
	.clear{
		clear: left;
	}
}



